*{
    padding: 0;
    box-sizing: border-box;
    margin: 10px;
    font-family: sans-serif, serif;
}
body{
    background-color: tomato;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
